{
    "BOX_VERSION": "0.4.0",
    "BOX_DESCRIPTION": "* Ubuntu 16.04 LTS xenial 64bits\n* git\n* vim\n* Docker 1.11.2\n* Docker-compose 1.7.1\n* Docker-machine 0.7.0\n* Samba (CIFS network shared folder)",
    "headless": "true",
    "TZ_CONTINENT": "UTC",
    "TZ_COUNTRY": "",
    "DEFAULT_LOCALE": "en_US",
    "DEFAULT_CHARSET": "UTF-8",
    "hardware_disk": "40960",
    "hardware_cpu": "2",
    "hardware_memory": "1024",
    "network_hostname": "vagrant-docker",
    "network_domain": "local"
}
